<div class="container center-align" style="margin-top: 200px;">
    <h3 class="red-text">500</h3>
    <p>Internal Server Error</p>
    {{#if error}}
        <pre class="left-align">{{error}}</pre>
    {{/if}}
    <a href="/" class="btn waves-effect waves-light" style="margin-top: 5rem">To the main page</a>
</div>