<nav class="teal lighten-3 z-depth-5">
    <div class="nav-wrapper">
        <div class="brand-logo" style="margin-left: 3rem; cursor: pointer">Logo</div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="container" style="margin-top: 6rem;">
    <div class="grey lighten-3">
        <h4 class="center-align" style="padding: 0.5rem 0">Edit user profile</h4>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Pages for edit user profile</span>
            </div>
        </div>
    </div>
</div>