<div class="row">
    <form class="col s6 offset-s3">
        <div class="row">
            <div class="input-field col s9 offset-s9">
                <button class="btn waves-effect waves-light" type="submit" name="action"><a href="/signin" style="text-decoration: none; color: white">Signin</a></button>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s12">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
            </div>
            <div class="input-field col s12">
                <input id="middle_name" type="text" class="validate">
                <label for="middle_name">Middle Name</label>
            </div>

            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
                <input id="birthday" type="date" class="validate">
                <label for="birthday">Date of birth</label>
            </div>

            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
            <div class="input-field col s12">
                <input id="password_retry" type="password" class="validate">
                <label for="password_retry">Retry Password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>