<nav class="teal lighten-3 z-depth-5">
    <div class="nav-wrapper">
        <div class="brand-logo" style="margin-left: 3rem; cursor: pointer">Logo</div>
        <ul id="nav" class="right">
            {{#if isAdmin}}
                <li><a href="/profile/admin">Admin panel</a></li>
            {{/if}}
            <li><a href="/profile">Profile</a></li>
            <li><a href="/profile/edit">Edit profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>
